Intro_XML/src/practice/plane.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="planes" type="planesType"/>
  <xs:complexType name="specsType">
    <xs:sequence>
      <xs:element name="load_capacity">
        <xs:simpleType>
          <xs:restriction base="xs:int"></xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="passengers">
        <xs:simpleType>
          <xs:restriction base="xs:int"></xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="charsType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="passenger"/>
            <xs:enumeration value="cargo"/>
            <xs:enumeration value="mail"/>
            <xs:enumeration value="fireman"/>
            <xs:enumeration value="agricultural"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="seats"/>
      <xs:element type="specsType" name="specs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element name="length">
        <xs:simpleType>
          <xs:restriction base="xs:double"></xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="width">
        <xs:simpleType>
          <xs:restriction base="xs:double"></xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="height">
        <xs:simpleType>
          <xs:restriction base="xs:double"></xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="priceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="planeType">
    <xs:sequence>
      <xs:element name="origin">
        <xs:simpleType>
          <xs:restriction base="xs:string"></xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="model">
        <xs:simpleType>
          <xs:restriction base="xs:string"></xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="charsType" name="chars"/>
      <xs:element type="parametersType" name="parameters"/>
      <xs:element type="priceType" name="price"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="planesType">
    <xs:sequence>
      <xs:element type="planeType" name="plane" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>