Intro_XML/src/practice/plane.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="planes" type="planesType"/>
  <xs:complexType name="specsType">
    <xs:sequence>
      <xs:element name="load_capacity">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="20"/>
            <xs:enumeration value="60"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="passengers">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="189"/>
            <xs:enumeration value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="charsType">
    <xs:sequence>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="passenger"/>
            <xs:enumeration value="cargo"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="seats"/>
      <xs:element type="specsType" name="specs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element name="length">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="39.5"/>
            <xs:enumeration value="40.7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="width">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="34.3"/>
            <xs:enumeration value="35.9"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="height">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="12.5"/>
            <xs:enumeration value="14.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="priceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="planeType">
    <xs:sequence>
      <xs:element name="origin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="USA"/>
            <xs:enumeration value="Ukraine"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="model">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Boeing 737"/>
            <xs:enumeration value="AN 225"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="charsType" name="chars"/>
      <xs:element type="parametersType" name="parameters"/>
      <xs:element type="priceType" name="price"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="planesType">
    <xs:sequence>
      <xs:element type="planeType" name="plane" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>